@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(./images/pattern-circles.svg), url(./images/bg-pattern.svg);
  background-repeat: no-repeat;
  background-position: top 57px center, top 0 left 0;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  background-size: auto, auto ;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 89px;
}

.h1_header {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #293356;
}

.p_header {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 23px;
  text-align: center;
  color: #848ead;
  width: 182px;
  margin-top: 8px;
}

.container {
  background: #ffffff;
  box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.152073);
  border-radius: 8px;
  width: 100%;
  padding-right: 24px;
  padding-left: 24px;
  box-sizing: border-box;
  margin-top: 64px;
  padding-top: 34px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.price_box_h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.h2_container {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 1.71429px;
  text-transform: uppercase;
  color: #848ead;
}

.price_month_year_desktop {
  display: none;
}

.price_month_year {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  margin-top: 30px;
}

.price_box_price {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 44px;
  text-align: right;
  letter-spacing: -0.8px;
  color: #293356;
}

.price_box_date {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #848ead;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  margin-top: 41px;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #ecf0fb;
  border-radius: 5px;
  height: 8px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #10d8c4;
  box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-image: url(./images/icon-slider.svg);
  background-repeat: no-repeat;
  margin-top: -16px;
  background-position: center;
}

.green_line {
  width: 100%;
  background: #a4f3eb;
  border-radius: 5px;
  height: 8px;
  top: -10px;
  position: relative;
}

.billing_box {
  display: flex;
  width: 100%;
  margin-top: 34px;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  box-sizing: border-box;
  padding-bottom: 40px;
}

.h3_month_billing {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #848ead;
}

.h3_year-billing {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #848ead;
  margin-left: 12px;
}

.h3_sale {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 10px;
  line-height: 19px;
  text-align: center;
  color: #ff8d68;
  background: #feede8;
  border-radius: 9.5px;
  width: 41px;
  height: 19px;
  margin-right: -12px;
  margin-left: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 43px;
  height: 22px;
  background: #cfd8ef;
  border-radius: 15px;
  margin-left: 12px;
}

.switch:hover {
  background: #7aeadf;
  border-radius: 15px;
  transition: 0.4s;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: #cfd8ef;
  border-radius: 50%;
  padding-top: 4px;
  padding-left: 4px;
  box-sizing: border-box;
}

.slider:hover {
  background: #7aeadf;
  border-radius: 15px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #cfd8ef;
}

input:checked + .slider:hover {
  background: #7aeadf;
  border-radius: 15px;
  transition: 0.4s;
}

input:focus + .slider {
  box-shadow: 0 0 1px #cfd8ef;
}

input:checked + .slider:before {
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
  transform: translateX(21px);
}

.line_gray {
  background: #ecf0fb;
  width: 100%;
  height: 1px;
  position: relative;
  top: -200px;
}

.trial_box_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 33px;
  padding-top: 25px;
}

.benefits {
  display: flex;
  flex-direction: column;
  gap: 11px;
  align-items: center;
}

.benefits_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.p_benefits {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #848ead;
}

.start_my_trial {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #becdff;
  border: none;
  background: #293356;
  border-radius: 20.5px;
  width: 170px;
  height: 41px;
  cursor: pointer;
}

.start_my_trial:hover{
  color: white;
  transition: 0.4s;
}
